/* --- --- --- COLORS --- --- --- */
/* PRIMARY */
/* HOVER */
/* PRESSED */
/* DISABLED */
/* --- --- --- COLORS --- --- --- */

/* --- --- --- DEFAULT STYLING --- --- --- */
.btn {
  display: inline-block;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.disabled {
  color: #fff;
  background-color: #ced4da;
  border-color: #ced4da;
  cursor: not-allowed;
}

.loading {
  color: #fff;
  background-color: #ced4da;
  border-color: #ced4da;
  cursor: progress;
}
/* --- --- --- DEFAULT STYLING --- --- --- */

/* --- --- --- COLOR BASED STYLING --- --- ---  */

.login {
  min-width: 361px;
  height: 48px;
  background-color: #2b3d90;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  font-weight: 500;
  color: white;
  font-size: 18px;
  line-height: 120%;
}

.login:hover {
  color: #fff;
  background-color: #182d8b;
  border-color: #182d8b;
}

.filter {
  min-width: 105px;
  min-height: 44px;
  border-radius: 8px;
  color: #fff;
  background-color: #109ef4;
  border-color: #4d96ff;
  gap: 10px;
  font-size: 14px;
}

.filter:hover {
  color: #fff;
  background-color: #087bc3;
  border-color: #087bc3;
}

.add {
  min-width: 127px;
  min-height: 44px;
  border-radius: 6px;
  color: #fff;
  background-color: #109ef4;
  border-color: #4d96ff;
  gap: 8px;
  font-size: 14px;
}

.add:hover {
  color: #fff;
  background-color: #058fe4;
  border-color: #058fe4;
}

.reject {
  min-width: 331px;
  min-height: 48px;
  background: #f2f2f2;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #2b3d91;
}

.reject:hover {
  background: #e4e4e4;
}

.next {
  min-width: 331px;
  min-height: 48px;
  background: #2b3d90;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}

.next:hover {
  background: #0a2395;
}

/* --- --- --- SIZE BASED STYLING --- --- ---  */

/* --- --- --- LOADING ANIMATION --- --- --- */

.loading__dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #fff;
  animation: loading__dots 1.5s linear infinite;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes loading__dots {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* --- --- --- LOADING ANIMATION --- --- --- */
